.backup/
.deps/
.idea/
.libs/
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.status
configure
getversion.c
libtool
m4/
Makefile
Makefile.in
pso/pso
source/getversion.c
source/xas
source/xasm
source/xcc
source/xlnk
stamp-h1
todo.txt
xemu

*.bak
*.img
*.lis
*.log
*.map
*.o
*.xa
*.xo
*.xo3
*.xs
*.xs3


